ul{
    list-style: none;
    padding-left: 20px;
}
li{
    margin-bottom: 5px;
    color: #fa4b41;
}
li:nth-child(even){
    margin-left: 15px;
    color: #6bb35b;
}
s{
    color: #ddd;
}

#home-face-pic{
    
}

.font-grey{
    color: #bbb;
    padding-left: 15px;
}
.home-pic{
    position: relative;
    max-width: 300px;
    height: 300px;
    background-color: aquamarine;
}
.row{
    justify-content: center;
}
.home-h4{
    color: #3e8bb0;
    font-weight: 700;
    margin-bottom: 0px;
}
.mini-icon{
    margin-right: 5px;
    font-size: 20px;
    opacity: 0.9;
}