#navbar-container{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #3e8bb0;
    color: white;
    border: 1px solid #444;
}
#navbar-bg{
    display: none;
    position: fixed;
    left: 0px;
    width: 200px;
    height: 100%;
    background-color: #16658a;
    justify-content: center;
}
#info-panel{
    display: none;
    background-color: #ccc;
    border: 1px solid #444;
    position: fixed;
    top: 30%;
    width: 180px;
    flex-direction: column;
}

.navbar-row:hover{
    color: #333;
    cursor: pointer;
    background-color: #aaa;
}
.active-navbar-row{
    background-color: #aaa;
    color: #333 !important;
    cursor: default !important;
}
.navbar-icon{
    height: 100%;
    font-size: 25px;
}
.navbar-row{
    display: flex;
    flex-direction: row;
    padding-left: 6px;
    padding-right: 8px;
    height: 45px;
}
.navbar-h4{
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 20px;
}
.navbar-col-a{
    width:40px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.navbar-col-b{
    display: flex;
    width: 145px;
}
.hide{
    display: none;
}
a.navbar-row{
    color: white;
}
a.navbar-row:hover{
    text-decoration: none;
}

@media (min-width: 992px){
    #navbar-bg{
        display: flex;
    }
    #navbar-container{
        left: 10px;
        top: 10px;
    }
    #hamburger-stack-container{
        display: none;
    }
    #info-panel{
        display: flex;
    }

    .hide{
        display: flex;
        width: 145px;
    }

}